nifi-template-example.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description>New Relic to Snowflake Data Pipeline Template</description>
    <groupId>org.apache.nifi</groupId>
    <name>NewRelic-to-Snowflake-Pipeline</name>
    <snippet>
        <processGroups>
            <id>root-group</id>
            <parentGroupId></parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments>Main pipeline for extracting data from New Relic API and loading into Snowflake</comments>
            <contents>
                <processors>
                    <!-- InvokeHTTP Processor for New Relic API -->
                    <processor>
                        <id>invoke-http-newrelic</id>
                        <parentGroupId>root-group</parentGroupId>
                        <position>
                            <x>200.0</x>
                            <y>100.0</y>
                        </position>
                        <bundle>
                            <artifact>nifi-standard-nar</artifact>
                            <group>org.apache.nifi</group>
                            <version>1.18.0</version>
                        </bundle>
                        <config>
                            <bulletinLevel>WARN</bulletinLevel>
                            <comments>Fetch data from New Relic Applications API</comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <descriptors>
                                <entry>
                                    <key>HTTP Method</key>
                                    <value>
                                        <name>HTTP Method</name>
                                    </value>
                                </entry>
                                <entry>
                                    <key>Remote URL</key>
                                    <value>
                                        <name>Remote URL</name>
                                    </value>
                                </entry>
                            </descriptors>
                            <executionNode>ALL</executionNode>
                            <lossTolerant>false</lossTolerant>
                            <penaltyDuration>30 sec</penaltyDuration>
                            <properties>
                                <entry>
                                    <key>HTTP Method</key>
                                    <value>GET</value>
                                </entry>
                                <entry>
                                    <key>Remote URL</key>
                                    <value>https://api.newrelic.com/v2/applications.json</value>
                                </entry>
                                <entry>
                                    <key>Connection Timeout</key>
                                    <value>30 sec</value>
                                </entry>
                                <entry>
                                    <key>Read Timeout</key>
                                    <value>60 sec</value>
                                </entry>
                                <entry>
                                    <key>X-Api-Key</key>
                                    <value>${newrelic.api.key}</value>
                                </entry>
                                <entry>
                                    <key>Accept</key>
                                    <value>application/json</value>
                                </entry>
                            </properties>
                            <runDurationMillis>0</runDurationMillis>
                            <schedulingPeriod>0 */15 * * * ?</schedulingPeriod>
                            <schedulingStrategy>CRON_DRIVEN</schedulingStrategy>
                            <yieldDuration>1 sec</yieldDuration>
                        </config>
                        <name>InvokeHTTP-NewRelic</name>
                        <relationships>
                            <autoTerminate>false</autoTerminate>
                            <name>Original</name>
                        </relationships>
                        <relationships>
                            <autoTerminate>false</autoTerminate>
                            <name>Response</name>
                        </relationships>
                        <relationships>
                            <autoTerminate>true</autoTerminate>
                            <name>Retry</name>
                        </relationships>
                        <relationships>
                            <autoTerminate>true</autoTerminate>
                            <name>No Retry</name>
                        </relationships>
                        <relationships>
                            <autoTerminate>true</autoTerminate>
                            <name>Failure</name>
                        </relationships>
                        <style/>
                        <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                    </processor>

                    <!-- SplitJson Processor -->
                    <processor>
                        <id>split-json</id>
                        <parentGroupId>root-group</parentGroupId>
                        <position>
                            <x>450.0</x>
                            <y>100.0</y>
                        </position>
                        <bundle>
                            <artifact>nifi-standard-nar</artifact>
                            <group>org.apache.nifi</group>
                            <version>1.18.0</version>
                        </bundle>
                        <config>
                            <bulletinLevel>WARN</bulletinLevel>
                            <comments>Split JSON array into individual application records</comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <executionNode>ALL</executionNode>
                            <lossTolerant>false</lossTolerant>
                            <penaltyDuration>30 sec</penaltyDuration>
                            <properties>
                                <entry>
                                    <key>JsonPath Expression</key>
                                    <value>$.applications</value>
                                </entry>
                                <entry>
                                    <key>Null Value Representation</key>
                                    <value>empty_string</value>
                                </entry>
                            </properties>
                            <runDurationMillis>0</runDurationMillis>
                            <schedulingPeriod>0 sec</schedulingPeriod>
                            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                            <yieldDuration>1 sec</yieldDuration>
                        </config>
                        <name>SplitJson</name>
                        <relationships>
                            <autoTerminate>false</autoTerminate>
                            <name>split</name>
                        </relationships>
                        <relationships>
                            <autoTerminate>true</autoTerminate>
                            <name>failure</name>
                        </relationships>
                        <relationships>
                            <autoTerminate>true</autoTerminate>
                            <name>original</name>
                        </relationships>
                        <style/>
                        <type>org.apache.nifi.processors.standard.SplitJson</type>
                    </processor>

                    <!-- ConvertRecord Processor -->
                    <processor>
                        <id>convert-record</id>
                        <parentGroupId>root-group</parentGroupId>
                        <position>
                            <x>700.0</x>
                            <y>100.0</y>
                        </position>
                        <bundle>
                            <artifact>nifi-standard-nar</artifact>
                            <group>org.apache.nifi</group>
                            <version>1.18.0</version>
                        </bundle>
                        <config>
                            <bulletinLevel>WARN</bulletinLevel>
                            <comments>Convert JSON records to CSV format for Snowflake</comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <executionNode>ALL</executionNode>
                            <lossTolerant>false</lossTolerant>
                            <penaltyDuration>30 sec</penaltyDuration>
                            <properties>
                                <entry>
                                    <key>Record Reader</key>
                                    <value>json-tree-reader</value>
                                </entry>
                                <entry>
                                    <key>Record Writer</key>
                                    <value>csv-record-set-writer</value>
                                </entry>
                            </properties>
                            <runDurationMillis>0</runDurationMillis>
                            <schedulingPeriod>0 sec</schedulingPeriod>
                            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                            <yieldDuration>1 sec</yieldDuration>
                        </config>
                        <name>ConvertRecord</name>
                        <relationships>
                            <autoTerminate>false</autoTerminate>
                            <name>success</name>
                        </relationships>
                        <relationships>
                            <autoTerminate>true</autoTerminate>
                            <name>failure</name>
                        </relationships>
                        <style/>
                        <type>org.apache.nifi.processors.standard.ConvertRecord</type>
                    </processor>

                    <!-- PutSnowflakeInternalStage Processor -->
                    <processor>
                        <id>put-snowflake-stage</id>
                        <parentGroupId>root-group</parentGroupId>
                        <position>
                            <x>950.0</x>
                            <y>100.0</y>
                        </position>
                        <bundle>
                            <artifact>nifi-snowflake-nar</artifact>
                            <group>org.apache.nifi</group>
                            <version>1.18.0</version>
                        </bundle>
                        <config>
                            <bulletinLevel>WARN</bulletinLevel>
                            <comments>Upload CSV data to Snowflake internal stage</comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <executionNode>ALL</executionNode>
                            <lossTolerant>false</lossTolerant>
                            <penaltyDuration>30 sec</penaltyDuration>
                            <properties>
                                <entry>
                                    <key>Snowflake Connection Service</key>
                                    <value>snowflake-connection-service</value>
                                </entry>
                                <entry>
                                    <key>Database</key>
                                    <value>ANALYTICS_DB</value>
                                </entry>
                                <entry>
                                    <key>Schema</key>
                                    <value>NEWRELIC</value>
                                </entry>
                                <entry>
                                    <key>Stage Name</key>
                                    <value>NEWRELIC_STAGE</value>
                                </entry>
                                <entry>
                                    <key>Upload File</key>
                                    <value>true</value>
                                </entry>
                            </properties>
                            <runDurationMillis>0</runDurationMillis>
                            <schedulingPeriod>0 sec</schedulingPeriod>
                            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                            <yieldDuration>1 sec</yieldDuration>
                        </config>
                        <name>PutSnowflakeInternalStage</name>
                        <relationships>
                            <autoTerminate>false</autoTerminate>
                            <name>success</name>
                        </relationships>
                        <relationships>
                            <autoTerminate>true</autoTerminate>
                            <name>failure</name>
                        </relationships>
                        <style/>
                        <type>org.apache.nifi.snowflake.processors.PutSnowflakeInternalStage</type>
                    </processor>

                    <!-- StartSnowflakeIngest Processor -->
                    <processor>
                        <id>start-snowflake-ingest</id>
                        <parentGroupId>root-group</parentGroupId>
                        <position>
                            <x>1200.0</x>
                            <y>100.0</y>
                        </position>
                        <bundle>
                            <artifact>nifi-snowflake-nar</artifact>
                            <group>org.apache.nifi</group>
                            <version>1.18.0</version>
                        </bundle>
                        <config>
                            <bulletinLevel>WARN</bulletinLevel>
                            <comments>Trigger Snowflake ingestion from stage to table</comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <executionNode>ALL</executionNode>
                            <lossTolerant>false</lossTolerant>
                            <penaltyDuration>30 sec</penaltyDuration>
                            <properties>
                                <entry>
                                    <key>Snowflake Connection Service</key>
                                    <value>snowflake-connection-service</value>
                                </entry>
                                <entry>
                                    <key>Database</key>
                                    <value>ANALYTICS_DB</value>
                                </entry>
                                <entry>
                                    <key>Schema</key>
                                    <value>NEWRELIC</value>
                                </entry>
                                <entry>
                                    <key>Target Table</key>
                                    <value>APPLICATIONS</value>
                                </entry>
                                <entry>
                                    <key>Snowpipe Name</key>
                                    <value>NEWRELIC_APPLICATIONS_PIPE</value>
                                </entry>
                            </properties>
                            <runDurationMillis>0</runDurationMillis>
                            <schedulingPeriod>0 sec</schedulingPeriod>
                            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                            <yieldDuration>1 sec</yieldDuration>
                        </config>
                        <name>StartSnowflakeIngest</name>
                        <relationships>
                            <autoTerminate>true</autoTerminate>
                            <name>success</name>
                        </relationships>
                        <relationships>
                            <autoTerminate>true</autoTerminate>
                            <name>failure</name>
                        </relationships>
                        <style/>
                        <type>org.apache.nifi.snowflake.processors.StartSnowflakeIngest</type>
                    </processor>
                </processors>

                <!-- Connection definitions -->
                <connections>
                    <connection>
                        <id>connection-1</id>
                        <parentGroupId>root-group</parentGroupId>
                        <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                        <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                        <destination>
                            <groupId>root-group</groupId>
                            <id>split-json</id>
                            <type>PROCESSOR</type>
                        </destination>
                        <flowFileExpiration>0 sec</flowFileExpiration>
                        <labelIndex>1</labelIndex>
                        <name></name>
                        <selectedRelationships>Response</selectedRelationships>
                        <source>
                            <groupId>root-group</groupId>
                            <id>invoke-http-newrelic</id>
                            <type>PROCESSOR</type>
                        </source>
                        <zIndex>0</zIndex>
                    </connection>

                    <connection>
                        <id>connection-2</id>
                        <parentGroupId>root-group</parentGroupId>
                        <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                        <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                        <destination>
                            <groupId>root-group</groupId>
                            <id>convert-record</id>
                            <type>PROCESSOR</type>
                        </destination>
                        <flowFileExpiration>0 sec</flowFileExpiration>
                        <labelIndex>1</labelIndex>
                        <name></name>
                        <selectedRelationships>split</selectedRelationships>
                        <source>
                            <groupId>root-group</groupId>
                            <id>split-json</id>
                            <type>PROCESSOR</type>
                        </source>
                        <zIndex>0</zIndex>
                    </connection>

                    <connection>
                        <id>connection-3</id>
                        <parentGroupId>root-group</parentGroupId>
                        <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                        <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                        <destination>
                            <groupId>root-group</groupId>
                            <id>put-snowflake-stage</id>
                            <type>PROCESSOR</type>
                        </destination>
                        <flowFileExpiration>0 sec</flowFileExpiration>
                        <labelIndex>1</labelIndex>
                        <name></name>
                        <selectedRelationships>success</selectedRelationships>
                        <source>
                            <groupId>root-group</groupId>
                            <id>convert-record</id>
                            <type>PROCESSOR</type>
                        </source>
                        <zIndex>0</zIndex>
                    </connection>

                    <connection>
                        <id>connection-4</id>
                        <parentGroupId>root-group</parentGroupId>
                        <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                        <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                        <destination>
                            <groupId>root-group</groupId>
                            <id>start-snowflake-ingest</id>
                            <type>PROCESSOR</type>
                        </destination>
                        <flowFileExpiration>0 sec</flowFileExpiration>
                        <labelIndex>1</labelIndex>
                        <name></name>
                        <selectedRelationships>success</selectedRelationships>
                        <source>
                            <groupId>root-group</groupId>
                            <id>put-snowflake-stage</id>
                            <type>PROCESSOR</type>
                        </source>
                        <zIndex>0</zIndex>
                    </connection>
                </connections>

                <!-- Controller Services -->
                <controllerServices>
                    <controllerService>
                        <id>snowflake-connection-service</id>
                        <parentGroupId>root-group</parentGroupId>
                        <bundle>
                            <artifact>nifi-snowflake-nar</artifact>
                            <group>org.apache.nifi</group>
                            <version>1.18.0</version>
                        </bundle>
                        <comments>Snowflake database connection service</comments>
                        <descriptors>
                            <entry>
                                <key>Account</key>
                                <value>
                                    <name>Account</name>
                                </value>
                            </entry>
                        </descriptors>
                        <name>SnowflakeConnectionService</name>
                        <properties>
                            <entry>
                                <key>Account</key>
                                <value>${snowflake.account}</value>
                            </entry>
                            <entry>
                                <key>User</key>
                                <value>${snowflake.user}</value>
                            </entry>
                            <entry>
                                <key>Password</key>
                                <value>${snowflake.password}</value>
                            </entry>
                            <entry>
                                <key>Database</key>
                                <value>ANALYTICS_DB</value>
                            </entry>
                            <entry>
                                <key>Schema</key>
                                <value>NEWRELIC</value>
                            </entry>
                            <entry>
                                <key>Warehouse</key>
                                <value>COMPUTE_WH</value>
                            </entry>
                        </properties>
                        <state>ENABLED</state>
                        <type>org.apache.nifi.snowflake.service.SnowflakeConnectionService</type>
                    </controllerService>

                    <controllerService>
                        <id>json-tree-reader</id>
                        <parentGroupId>root-group</parentGroupId>
                        <bundle>
                            <artifact>nifi-record-serialization-services-nar</artifact>
                            <group>org.apache.nifi</group>
                            <version>1.18.0</version>
                        </bundle>
                        <comments>JSON Tree Reader for parsing New Relic JSON responses</comments>
                        <name>JsonTreeReader</name>
                        <properties>
                            <entry>
                                <key>Schema Access Strategy</key>
                                <value>Use 'Schema Text' Property</value>
                            </entry>
                        </properties>
                        <state>ENABLED</state>
                        <type>org.apache.nifi.json.JsonTreeReader</type>
                    </controllerService>

                    <controllerService>
                        <id>csv-record-set-writer</id>
                        <parentGroupId>root-group</parentGroupId>
                        <bundle>
                            <artifact>nifi-record-serialization-services-nar</artifact>
                            <group>org.apache.nifi</group>
                            <version>1.18.0</version>
                        </bundle>
                        <comments>CSV Record Set Writer for Snowflake data format</comments>
                        <name>CSVRecordSetWriter</name>
                        <properties>
                            <entry>
                                <key>Schema Write Strategy</key>
                                <value>Do Not Write Schema</value>
                            </entry>
                            <entry>
                                <key>Include Header Line</key>
                                <value>false</value>
                            </entry>
                            <entry>
                                <key>Quote Mode</key>
                                <value>ALL_NON_NULL</value>
                            </entry>
                        </properties>
                        <state>ENABLED</state>
                        <type>org.apache.nifi.csv.CSVRecordSetWriter</type>
                    </controllerService>
                </controllerServices>
            </contents>
        </processGroups>
    </snippet>
    <timestamp>01/15/2024 15:30:00 UTC</timestamp>
</template>